<!DOCTYPE html>
<html>
   <head>
      <title>ghost_KPI_app_server</title>
      <link rel="shortcut icon" href="" />
      <link rel="shortcut icon" href="" />
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>
   <body>
      <h1>ghost_KPI_app_server</h1>
      <hr>
      <strong<h1><b>Error</b></h1></strong>
      <h3>Message:      <%= message %></h3>
      <h3>Error Status: <%= error.status %></h3>
      <h3>Error Stack:</h3>
      <pre><%= error.stack %></pre>
      <hr></hr>
      <br />
   </body>
</html>


